@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Sports-World";
  src: url("../fonts/SportsWorld.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ranchers-Regular";
  src: url("../fonts/Ranchers-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Pacifico-Regular";
  src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body,
html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

canvas {
  cursor: crosshair;
  display: block;
}

.header {
  background: #313138;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header__container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  position: relative;
}

.header__plane {
  font-size: 70px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  padding-left: 10px;
}

.header__plane .header__icon {
  max-width: 100%;
}

.header__title {
  font-family: "Sports-World";
  font-size: 155px;
  line-height: 130px;
  font-weight: 100;
}

.header__icon {
  width: 178px;
}

.header__picture {
  position: absolute;
  bottom: -88px;
  right: 170px;
}

.main {
  background: url(../backgrond/light-veneer/light-veneer.png);
  background-size: cover;
  height: 100%;
}

.main__container {
  padding-top: 70px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 22px;
}

.main__tablo {
  width: 700px;
  background: url(../backgrond/cloudy-day/cloudy-day.png);
  -ms-flex-line-pack: center;
      align-content: center;
  border: 2px solid #cae4f0;
  border-radius: 5px;
  padding: 15px;
}

.main__the-game {
  font-family: "Pacifico-Regular";
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #1818dd;
}

.main__question {
  font-family: "Balsamiq Sans", cursive;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #0c552b;
  padding-top: 20px;
}

.main__points-ball {
  font-family: "Ranchers-Regular";
  font-weight: bold;
  width: 140px;
  font-size: 45px;
  background: url(../backgrond/brickwall/brickwall.png);
  border: 2px solid #e0d8d8;
  border-radius: 5px;
  padding: 40px 18px;
}

.main__answer-riddle {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__answer-mistake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mistake-window {
  text-align: center;
}

.window3 {
  font-family: "Ranchers-Regular";
  font-weight: 100;
  font-size: 85px;
  line-height: 90px;
  color: #fc6f11;
  width: 140px;
  height: 100px;
  background: #bf0000;
  border: 2px solid #fc6f11;
  border-radius: 5px;
}

.mistake-window {
  text-align: center;
  padding-left: 5px;
}

.mistake-picture {
  width: 150px;
}

.mistake-icon {
  width: 100%;
  cursor: pointer;
}

.mistakeLeft,
.mistakeRight {
  fill: #bf0000;
}

.mistake-block {
  margin-bottom: 10px;
  width: 650px;
  height: 100px;
  text-align: center;
}

.mistake-block .mistake-block-back,
.mistake-block span {
  font-family: "Ranchers-Regular";
}

.mistake-block p {
  color: #c0c5f7;
  font-size: 30px;
  line-height: 99px;
}

.mistake_yellow {
  fill: #e7d912;
}

.footer {
  background: #313138;
  height: 200px;
}

.footer__button {
  text-align: center;
  padding: 20px 0;
  background: url(../backgrond/cloudy-day/cloudy-day.png);
  border-radius: 25px;
  width: 300px;
  margin: 0 auto;
}

.footer__button a {
  padding: 11px 95px;
  font-family: "Balsamiq Sans", cursive;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #0c552b;
}

.button-footer {
  padding-top: 40px;
}

.mistake-block-front {
  display: block;
  z-index: 8;
  background: url(../backgrond/pool_table/pool_table/pool_table.png);
  margin-bottom: 10px;
  width: 650px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  color: #ffffff;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
}

span {
  text-align: right;
  padding-right: 30px;
}

.mistake-block-back {
  z-index: 10;
  background: url(../backgrond/escheresque_ste/escheresque_ste.png);
  text-align: center;
}

p.mistake-block-front.card__face {
  text-transform: uppercase;
}

.mistake-back {
  opacity: 0;
}

.main__mistake-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  cursor: pointer;
}

.main__mistake-block .card {
  width: 100%;
  height: 100%;
  position: relative;
}

.main__mistake-block .card__face {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*

BIG GAME

*/
.main_container {
  padding-top: 70px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr;
      grid-template-columns: 1fr 10fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 22px;
}

.main_tablo {
  background: url(../backgrond/cloudy-day/cloudy-day.png);
  -ms-flex-line-pack: center;
      align-content: center;
  border: 2px solid #cae4f0;
  border-radius: 5px;
  width: 720px;
}

.main_game {
  padding-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 3fr 1fr;
  gap: 20px;
}

.big_game_title {
  line-height: 140px;
}

.player_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.answer {
  width: 100%;
  height: 115px;
  border: 1px solid black;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
}

.answer input {
  border-radius: 10px;
  width: 100%;
  height: 110px;
  font-size: 35px;
  padding: 20px;
}

.player_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.voices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.voices .voice {
  border: 1px solid red;
  border-radius: 100%;
  width: 115px;
  height: 115px;
  margin-bottom: 20px;
  background: #fff;
}

.voices .voice:last-child {
  margin-bottom: 0;
}

.voices .voice input {
  border-radius: 100%;
  width: 110px;
  height: 110px;
  padding: 15px;
  text-align: center;
  font-size: 45px;
}

.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 25px;
}

.players .player {
  border-radius: 10px;
  width: 360px;
  height: 100px;
  border: 1px solid black;
  background: yellow;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  margin: 0px 12px;
}

.alcoclass {
  color: #fff;
}

.salut,
.congrat {
  display: none;
}

.salut {
  position: relative;
}

.congrat {
  position: absolute;
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: win 15s linear infinite;
          animation: win 15s linear infinite;
}

@-webkit-keyframes win {
  0% {
    top: 50%;
    left: 50%;
    color: yellow;
  }
  20% {
    top: 25%;
    left: 75%;
    color: red;
  }
  40% {
    top: 75%;
    left: 25%;
    color: green;
  }
  60% {
    top: 25%;
    left: 25%;
    color: purple;
  }
  80% {
    top: 75%;
    left: 75%;
    color: salmon;
  }
  100% {
    top: 50%;
    left: 50%;
    color: lightgray;
  }
}

@keyframes win {
  0% {
    top: 50%;
    left: 50%;
    color: yellow;
  }
  20% {
    top: 25%;
    left: 75%;
    color: red;
  }
  40% {
    top: 75%;
    left: 25%;
    color: green;
  }
  60% {
    top: 25%;
    left: 25%;
    color: purple;
  }
  80% {
    top: 75%;
    left: 75%;
    color: salmon;
  }
  100% {
    top: 50%;
    left: 50%;
    color: lightgray;
  }
}
